name: pr-multibuild
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  packages: write
  contents: read

jobs:
  multi-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          TARGET_REPO=${TARGET_REPO:-"stashapp/stash"}
          PULLS_JSON=$(curl --header "authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          "https://api.github.com/repos/${TARGET_REPO}/pulls")
          PR_BRANCHES=$(echo "${PULLS_JSON}" | jq -r ".[].head.ref")
          for BRANCH in ${PR_BRANCHES}; do
            SAFE_BRANCH=${BRANCH//\//-}
            echo "Building PR branch: ${SAFE_BRANCH}"
            TARGET_BRANCH=${SAFE_BRANCH} docker buildx bake --push
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}